.card {
    border: 1px solid #009900;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .card-title {
    color: #009900;
    font-weight: bold;
  }
  
  .card-text {
    color: #666;
  }
  
  .offers {
    margin-top: 20px;
    padding: 20px;
    background-color: #f7f7f7;
  }
  
  .offers h2 {
    color: #009900;
  }
  
  .card-deck {
    margin-top: 20px;
  }
  
  .card-deck .card {
    border: none;
    box-shadow: none;
    margin-right: 20px;
  }
  
  .products-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 20px;
}
.product {
	width: 48%;
	margin-bottom: 20px;
	background-color: #fff;
	padding: 10px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.product-image {
	width: 100%;
	max-height: 200px;
}
.product-title {
	color: #009900;
	margin-top: 10px;
}
.product-description {
	color: #666;
}

.container {
	margin-top: 20px;
	margin-bottom: 20px;
}
.card {
  width: 100%;
  max-width: 300px; 
  height: auto; 
}

.btn.btn-color {
  background-color: #2646d4; 

}
.btn.btn-color:hover {
  background-color: #007bff;
}