//  Colores
$color-fondo: #009900;
$color-texto: #000;
$color-enlace: #62bb0e;
$color-boton-fondo: #2646d4;
$color-boton-texto: #1e2bdf;

//  Tamaños
$espaciado: 20px;
$borde-card: 1px solid $color-fondo;
